# Default
.Rproj.user
.Rhistory
.RData
.Ruserdata

#
.DS_Store
*.Rproj
.Rapp.history

# Output data
*.log
*.png
*.html
*.jpeg
*.jpg
*.csv
*.rds
*.pptx
*.docx
*.txt
/data

# Example code in progress
*-Ex.R
*-Ex.Rmd
